@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Google Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}
